.git
.gitignore
.env
.env.backup
.env.production
.idea
.vscode
.nova
.fleet
.zed
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
auth.json
public/build
public/hot
docker-compose.yml
Dockerfile
.dockerignore
README.md
